@import 'menu.css';
.conteudo {
    width: 100%;
}
.rodape {
    width: 100%;
    text-align: center;
    background-color: rgb(159, 255, 255);
}
.img-mobile {
    width: 100%;

}
@media screen and (min-width: 768px) {
    .menu{
        height: 120px;
        background-color: rgb(218, 68, 210);
    }
    .conteudo-home{
        display: flex;
        padding: 10px;
    }
}


@media screen and (min-width: 1290px) {
    .menu {
        height: 120px;
        background-color: rgb(64, 152, 252);
    }
}

